<ion-content [fullscreen]="true">
  <div id="container">
    <h1 class="ion-margin">Login to Widgets, Inc.</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">
          E-Mail <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          required
          formControlName="password"
          type="password"
        ></ion-input>
      </ion-item>
      <ion-button
        size="full"
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </ion-button>
    </form>
  </div>
</ion-content>
