<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" *ngIf="currentUser">
        <ion-icon slot="start" name="exit"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-login-button
    (onLogin)="login($event)"
    *ngIf="!currentUser"
  ></app-login-button>
  <div class="user-details" *ngIf="currentUser">
    <app-policy-schedule
      [schedule]="currentUser.policy.policySchedule"
    ></app-policy-schedule>

    <app-user-card [user]="currentUser"></app-user-card>

    <app-policy-summary
      [summary]="currentUser.policy.policySummary"
    ></app-policy-summary>

    <app-policy-payments
      [payments]="currentUser.policy.policyHistory"
    ></app-policy-payments>
  </div>
</ion-content>
