<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'app/plans'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ plan ? plan.planName : 'Plan' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="details ion-margin" *ngIf="plan">
    <app-plan-card [plan]="plan" [detail]="false"></app-plan-card>
    <app-plan-card-details
      [detail]="detail"
      *ngFor="let detail of plan.details"
    ></app-plan-card-details>
  </div>
</ion-content>
