<ion-card>
  <ion-card-header>
    <ion-card-title>Policy Summary</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <strong>Policy Number: </strong>
          {{ summary.policyNumber }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Maturity Date: </strong>
          {{ summary.effectiveDate }} -
          {{ summary.maturityDate }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Face Amount: </strong>
          {{ summary.faceAmount | currency: summary.currency }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" fill="clear">
          View More
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
